[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/car-pi/modules/android-auto-module/autoapp
Name=OpenAuto
Icon=rofi
