[Unit]
Description=Android Auto Module Common Service
Requires=docker.service
After=docker.service

[Service]
Environment="QT_QPA_PLATFORM=wayland"
Restart=always
# ExecStartPre=/usr/bin/docker rm -f android-auto-module-common
ExecStart=/opt/car-pi/modules/android-auto-module/src/openauto/bin/autoapp
# ExecStop=/usr/bin/docker stop android-auto-module-common

[Install]
WantedBy=multi-user.target
